body {
  font: 100% "Courier New", Courier, monospace;
}

table {
  /* 默认设置为border-collapse:separate；。如下图所示，通过将separate更改为collapse，将删除每个表单元格之间的空间。 */
  border-collapse: collapse;
}

caption {
  font-size: .8125em;
  font-weight: bold;
  margin-bottom: .5em;
}

th,
td {
  font-size: .875em;
  padding: .5em .75em;
}

td {
  border: 1px solid #000;
}

tfoot {
  font-style: italic;
  font-weight: bold;
}