/* ----------------------------------------------------------------------- */
/* ----- 此样式表包含各种示例CSS注释 ----- */
/* ----------------------------------------------------------------------- */

/* :::: 从图7.2.1 (p.125) :::: */

/*
这是CSS注释。可以是一行长的或者跨几行。这个比大多数都长. 不管怎样，CSS注释永远不会在浏览器中显示网站的HTML内容。

当然，你不会真的写这样一个愚蠢的评论，只谈论评论。下一条注释更符合注释的典型用法。
*/

/* 为旧浏览器设置某些HTML5元素的默认呈现 */
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}


/* :::: 从图7.2.2 (p.125) :::: */

.byline {
	color: green;
	font-size: .875em;
	text-shadow: 2px 1px 5px orange; /* IE9 以及更早的版本不支持 */
} /* 你也可以在这里发表评论 */


/* :::: 从图7.2.3 (p.125) :::: */

/* GLOBAL NAVIGATION
---------------------------------- */


/* MAIN CONTENT
---------------------------------- */


/* SIGN-UP FORM
---------------------------------- */


/* PAGE FOOTER
---------------------------------- */


/* :::: 从图7.2.4 (p.126) :::: */

img {
	border: 4px solid red;
	/* margin-right: 12px; */
}


/* :::: 从图7.2.5 (p.126) :::: */

p {
	line-height: 1.2;
}

/*
.byline {
	color: black;
	font-size: .875em;
	text-shadow: 2px 1px 5px orange;
}
img {
	border: 4px solid red;
	margin-right: 12px;
}
*/